global:
  jfrog:
    observability:
      branch: master
  prometheus:
    release_name: prometheus
installerInfo: '{ "productId": "Helm_prometheus_jfrog_platform/{{ .Chart.Version }}", "features": [ { "featureId": "ArtifactoryVersion/{{ default .Chart.AppVersion .Values.artifactory.image.version }}" }, { "featureId": "{{ if .Values.postgresql.enabled }}postgresql{{ else }}{{ .Values.database.type }}{{ end }}/0.0.0" }, { "featureId": "Platform/{{ default "kubernetes" .Values.installer.platform }}" },  { "featureId": "Channel/Helm_prometheus_jfrog_platform" } ] }'
artifactory:
  artifactory:
    openMetrics:
      enabled: true
    replicaCount: 1
    customInitContainersBegin: |
      - name: "prepare-fluentd-conf-on-persistent-volume"
        image: "{{ .Values.initContainerImage }}"
        imagePullPolicy: "{{ .Values.artifactory.image.pullPolicy }}"
        command:
          - 'sh'
          - '-c'
          - >
            mkdir -p {{ .Values.artifactory.persistence.mountPath }}/etc/fluentd/;
            curl https://raw.githubusercontent.com/jfrog/log-analytics-prometheus/{{ .Values.global.jfrog.observability.branch }}/fluent_metrics.conf.rt -o {{ .Values.artifactory.persistence.mountPath }}/etc/fluentd/fluentd.conf
        volumeMounts:
          - mountPath: "{{ .Values.artifactory.persistence.mountPath }}"
            name: artifactory-volume
    customSidecarContainers: |
      - name: "artifactory-fluentd-sidecar"
        image: "releases-pts-observability-fluentd.jfrog.io/fluentd:4.2"
        imagePullPolicy: "IfNotPresent"
        volumeMounts:
          - mountPath: "{{ .Values.artifactory.persistence.mountPath }}"
            name: artifactory-volume
        env:
          - name: JF_PRODUCT_DATA_INTERNAL
            value: {{ .Values.artifactory.persistence.mountPath }}
          - name: LOKI_URL
            value: http://loki.{{ .Release.Namespace }}:3100
          - name: FLUENTD_CONF
            value: ../../../../{{ .Values.artifactory.persistence.mountPath }}/etc/fluentd/fluentd.conf
  additionalResources: |
    apiVersion: v1
    kind: Service
    metadata:
      name: {{ template "artifactory.fullname" . }}-metrics
      annotations:
        prometheus.io/path: "/metrics"
        prometheus.io/scheme: "http"
        prometheus.io/port: "24231"
        prometheus.io/scrape: "true"
      labels:
        app: {{ template "artifactory.name" . }}
        component: {{ template "artifactory.name" . }}
        chart: {{ template "artifactory.chart" . }}
        heritage: {{ .Release.Service }}
        release: {{ .Values.global.prometheus.release_name }}
        {{- with .Values.artifactory.labels }}
    {{ toYaml . | indent 4 }}
        {{- end }}
    spec:
      type: ClusterIP
      ports:
      - name: metrics
        port: 24231
        protocol: TCP
      selector:
        app: {{ template "artifactory.name" . }}
        component: {{ template "artifactory.name" . }}
    ---
    apiVersion: monitoring.coreos.com/v1
    kind: ServiceMonitor
    metadata:
      name: servicemonitor-{{ template "artifactory.name" . }}
      labels:
        metrics: jfrog
        app: {{ template "artifactory.name" . }}
        chart: {{ template "artifactory.chart" . }}
        heritage: {{ .Release.Service }}
        release: {{ .Values.global.prometheus.release_name }}
    spec:
      selector:
        matchLabels:
          app: {{ template "artifactory.name" . }}
          component: {{ template "artifactory.name" . }}
      endpoints:
          - port: metrics
            interval: 15s
xray:
  enabled: true
  metrics:
    enabled: true
  replicaCount: 1
  common:
    preStartCommand: "export JF_OBSERVABILITY_METRICS_ENABLED=true"
    customInitContainersBegin: |
      - name: "download-fluentd-conf-on-persistent-volume"
        image: "{{ .Values.initContainerImage }}"
        imagePullPolicy: "{{ .Values.imagePullPolicy }}"
        command:
          - 'sh'
          - '-c'
          - >
            mkdir -p {{ .Values.xray.persistence.mountPath }}/etc/fluentd/;
            curl https://raw.githubusercontent.com/jfrog/log-analytics-prometheus/{{ .Values.global.jfrog.observability.branch }}/fluent_metrics.conf.xray -o {{ .Values.xray.persistence.mountPath }}/etc/fluentd/fluentd.conf;
        volumeMounts:
          - mountPath: "{{ .Values.xray.persistence.mountPath }}"
            name: data-volume
    customSidecarContainers: |
      - name: "xray-platform-fluentd-sidecar"
        image: "releases-pts-observability-fluentd.jfrog.io/fluentd:2.1"
        imagePullPolicy: "IfNotPresent"
        volumeMounts:
          - mountPath: "{{ .Values.xray.persistence.mountPath }}"
            name: data-volume
        env:
          - name: JF_PRODUCT_DATA_INTERNAL
            value: {{ .Values.xray.persistence.mountPath }}
          - name: FLUENTD_CONF
            value: ../../../../{{ .Values.xray.persistence.mountPath }}/etc/fluentd/fluentd.conf
          - name: LOKI_URL
            value: {{ .Values.global.prometheus.loki_url }}
  additionalResources: |
    apiVersion: v1
    kind: Service
    metadata:
      name: {{ template "xray.fullname" . }}-metrics
      annotations:
        prometheus.io/path: "/metrics"
        prometheus.io/scheme: "http"
        prometheus.io/port: "24231"
        prometheus.io/scrape: "true"
      labels:
        app: {{ template "xray.name" . }}
        component: {{ template "xray.name" . }}
        chart: {{ template "xray.chart" . }}
        heritage: {{ .Release.Service }}
        release: {{ .Values.global.prometheus.release_name }}
        {{- with .Values.xray.labels }}
    {{ toYaml . | indent 4 }}
        {{- end }}
    spec:
      type: ClusterIP
      ports:
      - name: metrics
        port: 24231
        protocol: TCP
      selector:
        app: {{ template "xray.name" . }}
        component: "{{ .Values.xray.name }}"
    ---
    apiVersion: monitoring.coreos.com/v1
    kind: ServiceMonitor
    metadata:
      name: servicemonitor-{{ template "xray.name" . }}
      labels:
        metrics: jfrog
        app: {{ template "xray.name" . }}
        chart: {{ template "xray.chart" . }}
        heritage: {{ .Release.Service }}
        release: {{ .Values.global.prometheus.release_name }}
    spec:
      selector:
        matchLabels:
          app: {{ template "xray.name" . }}
          component: {{ template "xray.name" . }}
      endpoints:
        - port: metrics
          interval: 15s
insight:
  enabled: false
distribution:
  enabled: false
pipelines:
  enabled: false
rabbitmq:
  enabled: true
redis:
  enabled: false
